server {
    listen {{ nginx_listen_port }} default_server;
    server_name {{ nginx_server_name }};

    access_log /var/log/nginx/{{ nginx_site_name }}.access.log;
    error_log  /var/log/nginx/{{ nginx_site_name }}.error.log;

    root {{ app_root_dir }};
    index index.html;

    location /health {
        return 200 'ok';
        add_header Content-Type text/plain;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

